<!doctype html>
<html lang="en">
    {% load static%}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
   <title>Login</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
   <script src="{% static 'js/myjs.js' %}"></script>
   <style>
       h1 {
       color: white;
       font-family: verdana;
       text-align: center;
       }
       .block {
      background-color: rgb(123, 180, 255);
      margin: 0.5vw;
      }
     .block2 {
      background-color: rgb(24, 73, 138);
      padding: 1px;
        }
        .txt {
       margin-left: 1vw;
       margin-right: 1vw;
       color: white;
       font-family: verdana;
       }
       .txt2 {
       margin-left: 1vw;
       margin-right: 1vw;
       color: white;
       font-family: verdana;
       text-align: right;
       }
       .button1 {
       border: 2px solid white;
       padding: 7px 7px;
       cursor: pointer;
       margin-right: 5px;
       background-color: rgb(0, 0, 255);
       }
       .button2 {
       border: 2px solid black;
       padding: 7px 7px;
       cursor: pointer;
       margin-right: 0px;
       background-color: rgb(0, 255, 0);
       }
       .button3 {
       border: 2px solid black;
       padding: 7px 7px;
       cursor: pointer;
       margin-left: 5px;
       background-color: rgb(255, 0, 0);
       }
       div.c {
       line-height: 10%;
       }
       ul.a {
       list-style-type: none;
       }
       .span1 {
       background-color:rgb(4, 29, 63);
       margin: 0px 0px 3px 0px;
       padding: 3px;
       }
       div.a {
        position: absolute;
        top: 80px;
        left: 1150px;
        right: 30px;
        text-align:left;
        z-index:0;
       }
       div.b {
        position: absolute;
        top: 80px;
        left: 30px;
        right: 1150px;
        text-align:left;
        z-index:0;
       }
       button.link {
        background:none;
        border:none;
        font-size:18px;
        font-family: verdana;
        color: white;
        }
       button.linkup {
        position: absolute;
        background:none;
        left: 330px;
        border:none;
        font-size:18px;
        font-family: verdana;
        color: white;
        z-index:0;
        }
       button.linkdw {
        position: absolute;
        left: 390px;
        background:none;
        border:none;
        font-size:18px;
        font-family: verdana;
        color: white;
        z-index:0;
        }
       .init {
        font-family: verdana;
        color: black;
        background-color:white;
        margin-top: 3px;
        display: none;
        }
   </style>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/bootstrap.css" %}">
  </head>
  <body id="page-top" style="background-color:rgb(62, 130, 219);">
    <h3>LOGIN</h3>
    <form method="post">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit">Login</button>
    </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static "vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/popper/popper.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/bootstrap/bootstrap.js" %}"></script>
  </body>
</html>