<!doctype html>
<html lang="en">
    {% load static%}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
   <title>Homepage</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
   <script src="{% static 'js/myjs.js' %}"></script>
   <script src="{% static 'js/tablejs.js' %}"></script>
   <style>
       h1 {
       color: white;
       font-family: verdana;
       text-align: center;
       }
       .block {
      background-color: rgb(123, 180, 255);
      margin: 0.5vw;
      }
     .block2 {
      background-color: rgb(24, 73, 138);
      padding: 1px;
        }
        .txt {
       margin-left: 1vw;
       margin-right: 1vw;
       color: white;
       font-family: verdana;
       }
       .txt2 {
       margin-left: 1vw;
       margin-right: 1vw;
       color: white;
       font-family: verdana;
       text-align: right;
       }
       .button1 {
       border: 2px solid white;
       padding: 7px 7px;
       cursor: pointer;
       margin-right: 5px;
       background-color: rgb(0, 0, 255);
       }
       .button2 {
       border: 2px solid black;
       padding: 7px 7px;
       cursor: pointer;
       margin-right: 0px;
       background-color: rgb(0, 255, 0);
       }
       .button3 {
       border: 2px solid black;
       padding: 7px 7px;
       cursor: pointer;
       margin-left: 5px;
       background-color: rgb(255, 0, 0);
       }
       div.c {
       line-height: 10%;
       }
       ul.a {
       list-style-type: none;
       }
       .span1 {
       background-color:rgb(4, 29, 63);
       margin: 0px 0px 3px 0px;
       padding: 3px;
       }
       div.a {
        position: absolute;
        top: 100px;
        left: 1150px;
        right: 30px;
        text-align:left;
        z-index:0;
       }
       div.b {
        position: absolute;
        top: 80px;
        left: 30px;
        right: 1150px;
        text-align:left;
        z-index:0;
       }
       button.link {
        background:none;
        border:none;
        font-size:18px;
        font-family: verdana;
        color: white;
        }
       button.linkup {
        position: absolute;
        background:none;
        left: 330px;
        border:none;
        font-size:18px;
        font-family: verdana;
        color: white;
        z-index:0;
        }
       button.linkdw {
        position: absolute;
        left: 390px;
        background:none;
        border:none;
        font-size:18px;
        font-family: verdana;
        color: white;
        z-index:0;
        }
       .init {
        font-family: verdana;
        color: black;
        background-color:white;
        margin-top: 3px;
        display: none;
        }
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        th {
        padding: 15px;
        background-color: rgb(62, 130, 219);
        color: white;
        }
        td {
        padding: 15px;
        background-color: rgb(123, 180, 255);
        }
        .hidden {
            display: none;
        }
        .hdnbtn {
            background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;
            outline:none;
        }
   </style>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/bootstrap.css" %}">
  </head>
  <body id="page-top" style="background-color:rgb(62, 130, 219);">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="mainNav">
        <div class="container">
        <a class="navbar-brand" href="/">SETO.A.P</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">STATUS</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link js-scroll-trigger" href="/books/">BOOKS<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="block2" align="middle">
      <div class="b">
        {%block log%}
          {%if user.is_authenticated%}
            <p><b style="font-size:20px;color:white;">Hi {{user.username}}</b></p>
            <p style="color:white;">You have visited this page {{ num_visits2 }}{% if num_visits2 == 1 %} time{% else %} times{% endif %}</p>
            <a href="{%url 'logout'%}">LOGOUT</a>
          {%else%}
            <p><b style="font-size:20px;color:white;">You are not logged in</b></p>
            <a href="{%url 'login'%}">LOGIN</a> <b style="color:white;">or</b> <a href="{%url 'signup'%}">SIGN IN</a>
          {%endif%}
        {%endblock log%}
      </div>
        <div class="a">
          {%block auf2%}
            {%if user.is_authenticated%}
              <button type="button" id='submit' class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                  TOP 5
              </button>
            {%else%}
              <button type="button" id='submit' class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" disabled>
                  TOP 5
              </button>
            {%endif%}
          {%endblock auf2%}
        </div>
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">TOP 5 BOOKS</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div id='inmodal' style="text-align:left" class="modal-body">

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <h1 align= "left" style="font-size:30px;">WHAT BOOKS ARE YOU LOOKING FOR?</h1>
        <div class="c">
          <p class="txt">Select Theme:</p>
          <div>
            <button id="button1" class="button1"></button>
            <button id="button2" class="button2"></button>
            <button id="button3" class="button3"></button>
          </div>
          <div><p></p></div>
        </div>
        <form onsubmit='return false;'>
            <div align='middle'>
              {%block auf%}
                {%if user.is_authenticated%}
                  <input id="searchsubmit" class="" type="search" placeholder="Search" aria-label="Search" name="q">
                  <button class="btn btn-dark" id="searchbutton">Search</button>
                {%else%}
                  <input id="searchsubmit" class="" type="search" placeholder="You need to Log In first!" aria-label="Search" name="q" readonly>
                  <button class="btn btn-dark" id="searchbutton" disabled>Search</button>
                {%endif%}
              {%endblock auf%}
            </div>
        </form>
        <div><p></p></div>
    </div>
    <table id="booktable"style="width:100%">
        <thead>
            <tr>
                <th style="width:10%">Image</th>
                <th style="width:10%">Title</th>
                <th style="width:7%">Author</th> 
                <th style="width:6%">Publisher</th>
                <th style="width:5%">Date</th>
                <th style="width:55%">Description</th>
                <th style="width:7%">Like</th>
            </tr>
        </thead>
        <!--<tr><td>Jill</td><td>Smith</td><td>50</td></tr>-->
    </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static "vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/popper/popper.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/bootstrap/bootstrap.js" %}"></script>
  </body>
</html>