<!doctype html>
<html lang="en">
    {% load static%}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
   <title>Homepage</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
   <script src="{% static 'js/myjs.js' %}"></script>
   <style>
       h1 {
       color: white;
       font-family: verdana;
       text-align: center;
       }
       .block {
      background-color: rgb(123, 180, 255);
      margin: 0.5vw;
      }
     .block2 {
      background-color: rgb(24, 73, 138);
      padding: 1px;
        }
        .txt {
       margin-left: 1vw;
       margin-right: 1vw;
       color: white;
       font-family: verdana;
       }
       .txt2 {
       margin-left: 1vw;
       margin-right: 1vw;
       color: white;
       font-family: verdana;
       text-align: right;
       }
       .button1 {
       border: 2px solid white;
       padding: 7px 7px;
       cursor: pointer;
       margin-right: 5px;
       background-color: rgb(0, 0, 255);
       }
       .button2 {
       border: 2px solid black;
       padding: 7px 7px;
       cursor: pointer;
       margin-right: 0px;
       background-color: rgb(0, 255, 0);
       }
       .button3 {
       border: 2px solid black;
       padding: 7px 7px;
       cursor: pointer;
       margin-left: 5px;
       background-color: rgb(255, 0, 0);
       }
       div.c {
       line-height: 10%;
       }
       ul.a {
       list-style-type: none;
       }
       .span1 {
       background-color:rgb(4, 29, 63);
       margin: 0px 0px 3px 0px;
       padding: 3px;
       }
       div.a {
        position: absolute;
        top: 80px;
        left: 1150px;
        right: 30px;
        text-align:left;
        z-index:0;
       }
       div.b {
        position: absolute;
        top: 80px;
        left: 30px;
        right: 1150px;
        text-align:left;
        z-index:0;
       }
       button.link {
        background:none;
        border:none;
        font-size:18px;
        font-family: verdana;
        color: white;
        }
       button.linkup {
        position: absolute;
        background:none;
        left: 330px;
        border:none;
        font-size:18px;
        font-family: verdana;
        color: white;
        z-index:0;
        }
       button.linkdw {
        position: absolute;
        left: 390px;
        background:none;
        border:none;
        font-size:18px;
        font-family: verdana;
        color: white;
        z-index:0;
        }
       .init {
        font-family: verdana;
        color: black;
        background-color:white;
        margin-top: 3px;
        display: none;
        }
   </style>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/bootstrap.css" %}">
  </head>
  <body id="page-top" style="background-color:rgb(62, 130, 219);">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="mainNav">
      <div class="container">
      <a class="navbar-brand" href="/">SETO.A.P</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link js-scroll-trigger" href="/">STATUS<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/books/">BOOKS</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="block2" align="middle">
      <div class="b">
        {%block log%}
          {%if user.is_authenticated%}
            <p><b style="font-size:20px;color:white;">Hi {{user.username}}</b></p>
            <p style="color:white;">You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}</p>
            <p style="color:white;">and have made {{ num_status }}{% if num_status == 1 %} status{% else %} statuses{% endif %}.</p>
            <a href="{%url 'logout'%}">LOGOUT</a>
          {%else%}
            <p><b style="font-size:20px;color:white;">You are not logged in</b></p>
            <a href="{%url 'login'%}">LOGIN</a> <b style="color:white;">or</b> <a href="{%url 'signup'%}">SIGN IN</a>
          {%endif%}
        {%endblock log%}
      </div>
      <div class="a">
        <ul class="a">
          <li class="span1"><div>
            <button id="numb1" class="link">Current activities</button>
            <button id="up1" class="linkup"><b>Λ</b></button>
            <button id="dw1" class="linkdw"><b>V</b></button>
            <p id="txt1" class="init">Currently partaking online college at home due to quarantine. It has its ups and downs.</p>
          </div></li>
          <li class="span1"><div>
            <button id="numb2" class="link">Organizational experience</button>
            <button id="up2" class="linkup"><b>Λ</b></button>
            <button id="dw2" class="linkdw"><b>V</b></button>
            <p id="txt2" class="init">I've been in an art club, we made short movies. It affected my school life a little bit, but I think I handled it pretty well.</p>
          </div></li>
          <li class="span1"><div>
            <button id="numb3" class="link">Committee experience</button>
            <button id="up3" class="linkup"><b>Λ</b></button>
            <button id="dw3" class="linkdw"><b>V</b></button>
            <p id="txt3" class="init">In every organization I've only ever been just one of the organization member. Never been anything above that, I could never focus on it if so.</p>
          </div></li>
          <li class="span1"><div>
            <button id="numb4" class="link">Achievements</button>
            <button id="up4" class="linkup"><b>Λ</b></button>
            <button id="dw4" class="linkdw"><b>V</b></button>
            <p id="txt4" class="init">I've been to art and math competition in my childhood, never have I ever been near top 5.</p>
          </div></li>
        </ul>
      </div>
        <h1 style="font-size:45px;">HELLO, HOW ARE YOU?</h1>
        <div class="c">
          <p class="txt">Select Theme:</p>
          <div>
            <button id="button1" class="button1"></button>
            <button id="button2" class="button2"></button>
            <button id="button3" class="button3"></button>
          </div>
          <div><p></p></div>
        </div>
        <form method='POST'>
            {% csrf_token %}
              <div class="form-group" align="middle">
                  <div>
                 <label style="color:white;" for="status">Status</label>
                {%block auf%}
                  {%if user.is_authenticated%}
                    <input type="text" name="status" id="status" placeholder="ex: Best day ever!!!" oninvalid="this.setCustomValidity('Please Insert Name')"
                    oninput="setCustomValidity('')" required>
                  {%else%}
                  <input type="text" name="status" id="status" placeholder="You need to Log In first!" oninvalid="this.setCustomValidity('Please Insert Name')"
                  oninput="setCustomValidity('')" required readonly>
                  {%endif%}
                {%endblock auf%}
                </div>
                <div>
                  {%block auf2%}
                  {%if user.is_authenticated%}
                  <button type="Submit" id="submit" class="btn btn-primary">Submit</button>
                  {%else%}
                  <button type="Submit" id="submit" class="btn btn-primary" disabled>Submit</button>
                  {%endif%}
                  {%endblock auf2%}
                </div>
              </div>
        </form>
    </div>
          {% block contents %}
            {% for post in posts %}
                <div class="block">
                    <p class="txt" style="font-size:1.5vw;">{{post.status}}</p>
                    <p class="txt2" style="font-size:0.8vw;">{{post.published}}</p>
                </div>
            {% endfor %}
          {% endblock contents %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static "vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/popper/popper.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/bootstrap/bootstrap.js" %}"></script>
  </body>
</html>