<!doctype html>
<html lang="en">
    {% load static%}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
   <title>StatUpdate</title>
   <style>
    h1 {
    color: white;
    font-family: verdana;
    text-align: center;
    }
    .txt {
    color: white;
    font-family: verdana;
    text-align: center;
    }
    .txt2 {
    margin-left: 1vw;
    margin-right: 1vw;
    color: white;
    font-family: verdana;
    text-align: right;
    }
</style>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/bootstrap.css" %}">
  </head>
  <body id="page-top" style="background-color:rgb(62, 130, 219);">
    <h1 style="font-size:45px;">You Did It! You Submitted A Status!</h1>
    <h1 style="font-size:45px;">What An Accomplishment!</h1>
    <p class="txt"><a name="ret" class="txt" href="/">Return</a></p>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static "vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/popper/popper.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/bootstrap/bootstrap.js" %}"></script>
  </body>
</html>